body{
    --imgWidth: 200px;
    --imgHeight: 200px;
}
div.card {
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 3px;
  margin-right: 3px;
  width: var(--imgWidth);
  height: var(--imgHeight);
  position: relative;
  z-index: 2;
}

div.card .card__image-holder {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0,0,0,0.1);
}

div.card .card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  box-sizing: border-box;
}