body{
    margin: 0px;
    overflow: hidden;
    background-image: url('assets/menuBg.png');
    background-size: cover;
    flex-direction: column;
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    user-select: none;
}
#menu{
    height: 100%;
    overflow: hidden;
}

img{
    display: block;
    margin: 0px;
}
.button{
    all: unset;
    cursor: pointer;
    border: none;
    padding: 0px;
    padding-right: 0px;
    position: absolute;
}

button {
    z-index: 1;
}
.shadow{
    z-index: 999;
    all: unset;
    border: none;
    padding: 0px;
    padding-right: 0px;
    position: absolute;
    pointer-events: none;
}
#gridFrame , #cards{
    position: absolute;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    overflow-y: auto;
    padding: 0px;
    box-sizing: border-box;
}
.tabs{
    font-size: 20px;
    color: white;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabs h2 {
    margin: 0;
    padding: 0;
}