body{
    margin: 0px;
    overflow: hidden;

}
#menu{
    height: 100%;
    overflow: hidden;
}

img{
    display: block;
    margin: 0px;
}
button{
    all: unset;
    cursor: pointer;
    border: none;
    padding: 0px;
    padding-right: 0px;
}
#nextButton{
    position: absolute;
    filter: hue-rotate(-90deg);
}
#backButton{
    position: absolute;
    filter: hue-rotate(90deg);
}