body{
    margin: 0px;
    overflow: hidden;
    background-image: url('assets/menuBg.png');
    background-size: cover;
}
#menu{
    height: 100%;
    overflow: hidden;
}

img{
    display: block;
    margin: 0px;
}
.button{
    all: unset;
    cursor: pointer;
    border: none;
    padding: 0px;
    padding-right: 0px;
    position: absolute;
}
.tabs{
    background-color: rgba(255, 255, 255, 0.3);
}
:not(.shadow){
    z-index: 1;
}
.shadow{
    z-index: 2;
    all: unset;
    border: none;
    padding: 0px;
    padding-right: 0px;
    position: absolute;
}