body{
    --imgWidth: 200px;
    --imgHeight: 200px;
}
div.card {
  box-sizing: border-box;
  margin: 5px;
  width: var(--imgWidth);
  height: var(--imgHeight);
  position: relative;
  transition: all 0.3s ease-in;
  z-index: 2;
}

div.card .card__image-holder {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0,0,0,0.1);
}

div.card .card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}