#header {
    z-index: 1;
    position: fixed;
    /* ヘッダーを固定する */
    top: 0;
    /* 上部から配置の基準位置を決める */
    left: 0;
    /* 左から配置の基準位置を決める */
    width: 100%;
    /* ヘッダーの横幅を指定する */
    height: 10%;
    /* ヘッダーの高さを指定する */
    padding: 10px;
    /* ヘッダーの余白を指定する(上下左右) */
    background-color: rgba(0, 0, 0, 0.5);
    /* ヘッダーの背景色を指定する */
    color: white;
    /* フォントの色を指定する */
}

h4 {
    text-align: center
}

p {
    text-align: center
}

h2 {
    text-align: center
}

h1 {
    text-align: center
}

.header_icon {
    margin-right: auto;
    text-align: left;
}

html, body {
    background-color: #76461B;
    /*background-image: url("/_static/media/background.png");
    background-repeat: round;
    background-size: 3%;*/
    margin: 0;
    padding: 0;
    height: 100%; /* htmlとbody両方に100%の高さを設定 */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden; /* 横スクロールを防止 */
}

/* メインコンテンツ部分は自動で伸縮するようにする */
/*body > *:not(#footer):not(#header) {
    flex: 1 0 auto; 
}*/

.mokuzi {
    border: 10px dashed white;
    width: 300px;
    background-color: lightblue;
    text-align: left;
    margin: 0 auto;
}

.box {
    margin-right: 10%;
    margin-left: 10%;
    border: 3px dashed lightblue;
    text-align: left;
    padding: 10px;
}

/*#footer {
    background-color: rgb(188, 247, 196);
    margin: 0px;
    padding: 10px 0; 
    width: 100%;
    flex-shrink: 0; 
    position: sticky; 
    bottom: 0;
}*/