body{
    --imgSize: 200px;
}
div.cards {

  margin: var(--imgSize) auto;
  max-width: 960px;
  text-align: center;
}

div.card {
  background: white;
  display: inline-block;
  margin: 8px;
  max-width: var(--imgSize);
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: var(--imgSize);
  z-index: 1;
  img {
    max-width: var(--imgSize);
  }
  .card__image-holder {
    background: rgba(0,0,0,0.1);
    height: 0;
    padding-bottom: 0%;
  }
}




